* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(to bottom, rgba(13, 3, 31, 0.7),rgba(13, 3, 31, 0.7)),url(../images/Background.webp);
    background-repeat: repeat;
    background-size: cover;
}

:root {
    --button-color: rgb(217, 193, 86);
    --button-color-hover: rgb(173, 162, 100);
    --button-color-active: rgb(119, 108, 50);
}

.creator {
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-size: 18px;
    padding: 5px;
    
}

.creator a {
    text-decoration: none;
    color: rgb(236, 205, 67);
}

div#title {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

div#title img{
    width: 600px;
    
}

.container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid-container {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    background-color: rgb(107, 100, 133);
    border-radius: 20px;
}

.grid-elements {
    padding: 50px;
    background-color: rgb(217, 193, 86);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background-size: cover;
    transition: transform 0.5s;
}


dialog#result-dialog {
    margin:auto auto;
    width: 400px;
    padding: 30px 50px 50px 50px;
    background-color: rgb(49, 27, 78);
    border: 5px var(--button-color) solid;
    border-radius: 20px;
    
    text-align: center;
    will-change: all;
    transition: all 0.2s;
    transform: scale(0.1,0.1);
}

dialog#result-dialog h1 img{
    position: relative;
    width: 100%;
    
    
}





.dialog-button-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 200px;
}

.dialog-button {
    background-color: var(--button-color);
    padding: 5px 30px;
    border-radius: 15px;
    border: 0px;
    transition: transform 0.1s;
}

.dialog-button:hover {
    cursor: pointer;
    background-color: var(--button-color-hover);
    
    
}

.dialog-button:active {
    cursor: pointer;
    background-color: var(--button-color-active);
    transform: scale(0.95,0.95);
}

.dialog-button img {
    width: 50%;
}

button#start-button,button#start-game {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 80px;
    background-color: rgb(217, 193, 86);
    border-radius: 15px;
    border: 0px;
    color: rgb(78, 71, 107);
    font-size: 18px;
    font-weight: bold;
    transition: all 0.05s;
    margin-block: 20px;
}

button#start-button {
    margin-block: 10px;
}

button#start-button img,button#start-game img {
    width: 150px;
    
}


button#start-button:hover,button#start-game:hover {
    cursor: pointer;
    background-color: rgb(173, 162, 100);
    transform: scale(1.05,1.05);
}
button#start-button:active,button#start-game:active {
    cursor: pointer;
    color: rgb(173, 160, 223);
    background-color: rgb(119, 108, 50);
    transform: scale(0.9,0.9);
}

div#timer {
    margin-block: 20px;
    display: flex;
    background-color: rgb(66, 58, 97);
    color: aliceblue;
    padding: 10px 80px;
    font-size: 45px;
    border-radius: 15px;
    border: 3px rgb(221, 194, 56) solid;
    
}

.remove {
    visibility: hidden;
    pointer-events: none;
}

div#stat-result {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: aliceblue;
    font-size: 24px;
    text-align: justify;
}

@media only screen and (max-width:600px){
    .container {
        
        
        overflow-x: hidden;
    }

    div#title img{
        width: 450px;
    }

    .grid-container {
        grid-template-columns: auto auto auto;
        gap: 9px;
    }

    .grid-elements {
        padding: 40px;
        
    }

    div#timer {
        font-size: 30px;
        padding: 10px 50px;
    }

    button#start-button img,button#start-game img {
        width: 100px;
    
    }

    div#stat-result {
        font-size: 18px;
    }
}

